#playground{
  background: linear-gradient(to bottom right,#33332f, #352be0);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border: 1px solid #41822a;
  background: #777;
  margin-bottom: 10px;
}

div{
  position:relative;
}

#playground,  #controls{
  /*box-shadow: 2px 2px 8px #060638;*/
}

#playground, #controls, .board, .demo_wrapper{
  width: 60vw;
}

#playground, .board{
  height: 200px;
}

.demo_wrapper{
  margin: 0px auto;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width:768px){
  #playground, #controls, .board, .demo_wrapper{
    width: 90vw;
  }
}

.instructions{
  margin: 40px 0 0 0;
  background: #ebf5eb;
  padding: 10px 20px;
  border-radius: 6px;
  /* box-sizing: border-box; */
  text-align: justify;
}