#playground{
  background: linear-gradient(to bottom right,#41822a, #5f924d, #41822a); 
  margin-bottom: 10px;
}

div{
  position:relative;
}

#playground,  #controls{
  /*box-shadow: 2px 2px 8px #060638;*/
}

#playground, #controls, .board, .demo_wrapper{
  width: 60vw;
}

#playground, .board{
  min-height: 200px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}

.demo_wrapper{
  margin: 0px auto;
  min-height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@media only screen and (max-width:768px){
  #playground, #controls, .board{
    width: 90vw;
  }
}

.vis{ 
  width: 100%;
  display: flex;
  -webkit-justify-content: center;
          justify-content: center;
  flex-wrap: wrap;
  background: #d9e0d5;
  padding-top: 30px;
  padding-bottom: 30px;
}

.vis__{
  display: flex;
  flex-wrap: wrap;
  -webkit-justify-content: center;
          justify-content: center;
  align-items: flex-start;
}

.gauge{
  width: 100px;
  height: 100px;
  position: relative;
  margin: 20px;
}

.gauge > *{
  position: absolute;
}

.scale{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 3px dashed #340;
  border-radius: 50% 50% 0 0;
  cursor: pointer;
}

.pointer{
  width: 4%;
  top: 15%;
  height: 45%;
  background: #333;
  left: 48%;
  border-radius: 50%;
  transform-origin: 50% 85%;
  transform: rotate(0deg);
  transition: all .7s cubic-bezier(0.81, 0.77, 0.78, 1.17);
}

.reading{
  top: 65%;
  width:100%;
  padding: 3px;
  border-radius: 3px;
  text-align: center;
}

.name{
  top:100%;
  width: 100%;
  text-align: center;
  font-size: 12px;
}

.explore.screen{ 
  border: 5px solid #999; 
  background: #eee;
  box-sizing: border-box;
}
.explore.grid{ position:relative; cursor:none; }
.speed{
  display: flex;
  flex-direction: row-reverse;
}

.sele{
  position: absolute;
  top:0;
  left:0;
  width:0;
  height:0;
  background: #000;
  z-index: 10;
  cursor:none;
}
.explore.info{
  font-size: 12px;
  display: flex;
  width: 300px;
  flex-wrap: wrap;
}
.explore.info > *{
  width: 150px;
}

.button{
  margin: 0 15px;
  border: 1px solid #41822a;
  border-radius: 3px;
  padding: 3px 15px;
  cursor: pointer;
  width: 100px;
  text-align: center;
}

.content .container{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0 !important;
}

#game{
  width: auto !important;
}