#controls{
  background: #fff;
  color: #41822a;
  border: 1px solid #41822a;
  /*margin: 10px;*/
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;

  box-sizing: border-box;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;

}

#controls .heading{
  padding: 20px;
}

#controls .options{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


#controls .comp{
	background: url("../img/comp.png") 0 0 no-repeat;	
	background-size: 20px;
}

#controls .human{
	background: url("../img/human.png") 0 0 no-repeat;
	background-size: 20px;
}

#controls .comp, #controls .human{
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin: 10px 20px 10px 0;
  background-position: center;  
  /*border-left: 1px solid #aaa;*/
}

#controls .option{
  border-radius: 50%;
  background-color: #777;
}

#controls .options .selected{
  background-color: #41822a;
}