.keyboard{
  position: absolute;
}

.arrowkey{
  position: absolute;
  top: 0;
  border: 1px solid #fff;
  left: 0;
  width: 27%;
  height: 44%;
  border-radius: 3px;
}

.keyboard .up, .keyboard .down{
  left: 34%;
}

.keyboard .down,.keyboard .right,.keyboard .left{
  top: 51%;
}

.keyboard .right{
  left: 66%;
}


.keyboard .left{
  left: 2%;
}

.keyboard .up:before, .keyboard .left:before, .keyboard .right:before, .keyboard .down:before{
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  border: 5px solid transparent;
}

.keyboard .up:before{
  top: calc(40% - 5px);
  left: calc(50% - 5px);
  border-bottom: 5px solid #fff;
}

.keyboard .down:before{
  top: calc(60% - 5px);
  left: calc(50% - 5px);
  border-top: 5px solid #fff; 
}

.keyboard .right:before{
  top: calc(50% - 5px);
  left: calc(60% - 5px);
  border-left: 5px solid #fff; 
}

.keyboard .left:before{
  top: calc(50% - 5px);
  left: calc(40% - 5px);
  border-right: 5px solid #fff; 
}

.keyboard .highlight{
  background: #fff;
}

.keyboard .highlight[data-key="left"]:before{
  border-right-color: #288228;
}

.keyboard .highlight[data-key="right"]:before{
  border-left-color: #288228;
}