---
---

$light-green: rgb(235, 245, 235);

body {
  background: rgb(40, 130, 40);
  font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.content {
  background: $light-green;

  .container {
    background: white;
    padding-top: 2em;
    padding-bottom: 2em;
  }

  h1 {
    font-size: 20pt;
    padding-bottom: 0.2em;
    border-bottom: 3px solid $light-green;
    text-align: center;
  }
}

.lighter {
  font-weight: 300;
  letter-spacing: 1px;
}

/*Links*/
p a, p a:visited { border-bottom: 1px solid rgb(200, 230, 200); }
p a:hover, p a:visited:hover { color: rgb(0, 120, 0); text-decoration: none; }

p a, p a:visited { color: rgb(0, 120, 0); }
p a:hover { border-bottom: 1px solid rgb(150, 200, 150); }

/*Footer*/
.call {
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
}
.call p:last-child {
  margin: 0;
}
.footer {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  color: white;
}

/*Code*/
pre {
  margin: 0;
}
pre code.hljs {
  background: rgb(240, 245, 240);
  border-radius: 5px;
  padding-left: 1em;
  padding-right: 1em;
}

.navbar-collapse.collapse.in {
  display: block!important;
}
