---
---

$light-green: rgb(235, 245, 235);

@import url('https://fonts.googleapis.com/css?family=Lato:400,400i');

body {
  background: rgb(20,60,60);
  font-family: Lato, "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  line-height: 1.7;
}

.logo {
  font-style: italic;
}

.navbar .logo {
  text-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.content {
  background: rgb(240, 250, 250);

  .container {
    background: white;
    padding-top: 2em;
    padding-bottom: 2em;
  }

  h1 {
    font-size: 20pt;
    padding-bottom: 0.2em;
    border-bottom: 3px solid $light-green;
    text-align: center;
    font-weight: bold;
    margin-bottom:1em;
  }
  h2 {
    font-size: 18pt;
    text-align: right;
    margin-top:2em;
  }
  h3 {
    font-size: 12pt;
    font-weight: bold;
  }

  blockquote {
    font-style: italic;
    border-left: 5px solid $light-green;
    padding-left: 1em;
    margin-left: 1em;
  }

  .author {
    text-align: right;
    font-style: italic;
    color: rgb(0, 150, 150);
  }
  .attrib {
    font-style: italic;
    color: rgb(0, 50, 50);
  }
}

.lighter {
  font-weight: 300;
  letter-spacing: 1px;
}

/*Links*/
p a, p a:visited { border-bottom: 2px solid rgb(180, 220, 220); }
p a:hover, p a:visited:hover { color: rgb(0, 100, 100); text-decoration: none; }

p a, p a:visited { color: rgb(0, 100, 100); }
p a:hover { border-bottom: 2px solid rgb(0, 170, 170); }

/*Footer*/
.call {
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
}
.call p:last-child {
  margin: 0;
}
.footer {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  color: white;
}

/*Code*/
pre {
  margin: 0;
}
pre code.hljs {
  background: rgb(245, 255, 255);
  border: 2px solid rgb(200, 240, 240);
  border-radius: 5px;
  padding-left: 1em;
  padding-right: 1em;
}

.navbar-collapse.collapse.in {
  display: block!important;
}
