.progress-backdrop{
	position: absolute;
	top: 0;
	right: 0;
	left:0;
	bottom:0;
	background: rgba(255, 255, 255, 0.7);
	display: flex;
	-webkit-justify-content: center;
	        justify-content: center;
	align-items: center;
}

.progress-lightbox{
	padding: 30px;
    background: #fff;
    box-shadow: 0px 3px 5px #aaa;
   
    border-radius: 6px;
    width: 400px;

}

.progress-lightbox h3{
	color: #555;
}

.progress-bar-fill{
	position: absolute;
    background: #555;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    transition: all .5s linear;
    border-radius: 3px;
}

.progress-bar{
	width: 100%;
    position: relative;
    height: 5px;
    margin: 20px 0;
}