---
layout: default
---

<style>
.container img {
  max-width: 100%;
}
.container h1, .container h2, .container p, .container blockquote, .container .highlighter-rouge, .container ul :not(.navbar-nav) {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}
.container p {
  text-align:justify;
}
.container p.p-image {
  max-width: 100%;
  text-align: center;
}
</style>

<div class="content">
  <div class="container">
    <!-- <div style="max-width:650px;margin-left:auto;margin-right:auto;text-align:justify"> -->
      {{content}}
    <!-- </div> -->
  </div>
</div>

<script>
  document.querySelectorAll('.container p').forEach(p => {
    if ((p.children[0] || {}).tagName == "IMG")
      p.classList.add('p-image');
  });
</script>
