.overlay{
	pointer-events: none;
}

.overlay > * {
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0,0, .4);
	transition: all .5s linear;
	opacity: 1;
	z-index: 9;
	pointer-events: none;
}

#start, #gameOver{
	display: flex;
	-webkit-justify-content: center;
	        justify-content: center;
	align-items: center;
	flex-direction: column;
}

#overlay p{
	height: fit-content;
	font-size: 28px;
}

.hidden{
	opacity: 0;
	pointer-events: none;
}

