/* basic styles */
*{
	margin: 0;
	padding: 0;
	
}

.heading{
	font-size: 30px;
	background: #555;
	color: #fff;
	padding: 30px 50px;
	z-index: 3;
	box-shadow: 0 3px 5px #aaa;
	height: 11vh;
	box-sizing: border-box;
}

.options{
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}

.demo_wrapper{
	display: flex;
}

#number{
	transform: scale(1);
	margin: 20px 0;

}
#editor{
	border: 16px solid var(--dark);
	background: var(--light);
}

.render_editor{
	flex:1;
	padding: 50px;
	box-sizing: border-box;
	position:relative;
}

.options button{
	font-size: 16px;
	margin: 30px 0;
	margin-right: 10px;
	padding: 10px 20px;
	border-radius: 6px;
	background: var(--light);
	color: #000;
	cursor: pointer;
	border: 2px solid var(--dark);
	transition: all .5s linear;
	width: 110px;
}

.options button:hover{
	background: #eee;
}

.options button:active, 
.options button:focus{
	outline: none;
}

.render_editor h1, .render_image h1{
	/*padding: 30px 0;*/
    /*border-bottom: 1px solid #000;*/
}

.render_editor > div{
	display: flex;
	justify-content: center;
}

.render_editor > div > div{
	margin: 0 50px;
}

@media only screen and (max-width: 768px){
	.render_editor{
		/*width: 100vw;*/
		height: auto;
		padding: 20px 0;
	}

	.demo_wrapper{
		flex-direction: column;
		text-align: center;
	}

	.options button{
		margin: 30px auto;
	}

	.render_editor > div{
		flex-direction:column;
	}

	#result{
		margin-top:0px;
	}
	
}


